{% macro about() %}
<section class="about" id="about">
    <div class="about__wrapper">
      <h2 class="about__title">О компании</h2>
      <div class="about__text-container">
        <p class="about__paragraph">
          Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.
        </p>
        <p class="about__paragraph">
          Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог<span class="about__addition"> (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.</span>
        </p>
      </div>
      <a class="about__button" href="#">Подробнее</a>
    </div>
</section>
{% endmacro %}