{% macro intro() %}
<section class="intro">
    <div class="intro__wrapper">
        <h1 class="intro__header">Печатные платы</h1>
        <div class="intro__text-container">
            <p class="intro__description">
                Производство и монтаж, поставка комплектующих, блоков и модулей
            </p>
            <a class="intro__button button" href="#">
                <span class="intro__link intro__link--long">Получить бесплатную консультацию</span>
                <span class="intro__link intro__link--short">Бесплатная консультация</span>
            </a>
        </div>
    </div>
</section>
{% endmacro %}