{% macro popup() %}
<section class="popup feedback" id="feedback">
    <button class="popup__close-button">
        <span class="visually-hidden">Закрыть</span>
    </button>
    <h2 class="feedback__title">Закажите звонок</h2>
    <p class="feedback__description">
        Оставьте контакты, мы проконсультируем вас бесплатно в удобное время
    </p>
    <form class="feedback__form" action="#">
        <p class="feedback__wrapper">
            <label class="visually-hidden" for="name">Имя</label>
            <input class="feedback__field" id="name" name="name" type="text" placeholder="Имя">
        </p>
        <p class="feedback__wrapper">
            <label class="visually-hidden" for="phone">Телефон</label>
            <input class="feedback__field" id="phone" name="phone" type="text" placeholder="Телефон">
        </p>
        <p class="feedback__agreement">

        </p>
        <p class="feedback__wrapper">
            <label class="visually-hidden" for="question">Ваш вопрос</label>
            <textarea class="feedback__field feedback__field--big" id="question" name="question" placeholder="Ваш вопрос"></textarea>
        </p>
        <p class="feedback__agreement">
            <input class="feedback__checkbox visually-hidden" type="checkbox" id="agreement" name="agreement">
            <label for="agreement">Я согласен на обработку персональных данных</label>
        </p>
        <button class="button button--wide button--bordered feedback__button" type="submit">Отправить</button>
    </form>
</section>
{% endmacro %}